#navbar {
  padding: 0% 10%;
}
#Home {
  height: 92vh; /* Set section height to 100% of viewport height */
  background-image: url(assets/bg.jpg); /* Optional background color */
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
}
#Services {
  height: 92vh; /* Set section height to 100% of viewport height */
  background-color: azure; /* Optional background color */
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
}
#About_Us {
  background-color: azure; /* Optional background color */
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
}

#contact_us {
  color: aliceblue;
  padding-left: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.fcontend {
  padding-left: 2%;
}
.head1 {
  padding: 0% 5%;
}

.break {
  border: 1px solid #000;
  margin: 20px auto;
  size: 10%;
  width: 60%;
  align-content: center;
}

.footerHead {
  padding-top: 2%;
  padding-left: 10%;
}

.icons {
  padding: 0 4%;
}

body {
  background-color: azure;
}

footer {
  background-color: black;
  padding-bottom: 2%;
}

h6{
    padding-top: 2%;
}